* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    height: 60px;
    max-height: 60px;
}

/* Color For Nav Links */
.nav-link {
    position: relative;
    transition: linear 0.3s;
    -webkit-transition: linear 0.3s;
    -moz-transition: linear 0.3s;
    -ms-transition: linear 0.3s;
    -o-transition: linear 0.3s;
}

/* nav links hover style */
.nav-link:hover,
.nav-link:active {
    color: #04afaf;
}

.nav-link:focus {
    color: #05fafa;
}

.nav-link:hover.nav-link::after,
.nav-link:active.nav-link::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 2px;
    background-color: #04afaf;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

@media (max-width:992px) {

    .nav-link:hover.nav-link::after,
    .nav-link:focus.nav-link::after {
        width: 5%;
        left: 0;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
}


/* Hero */
.hero {
    background-image: url(../img/landing.jpg);
    height: calc(100vh - 60px);
    margin-bottom: 20px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    font-weight: bold;
    color: #04afaf;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/* Section Title */
.section-title {
    position: relative;
}

.section-title h2 {
    font-weight: bold;
    color: #04afaf;
}

.section-title h2::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 2px;
    background-color: #04afaf;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

/* btn Primary  */
.btn-primary {
    background-color: #4d4d4d !important;
    border-color: white !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    padding: 2rem 1.5rem;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #666666 !important;
    border-color: #666666 !important;
}

.btn-primary:active {
    background-color: #808080 !important;
    border-color: white !important;
}

.btn-operator {
    background-color: #04afaf !important;
}

.btn-operator:hover {
    background-color: #05fafa !important;
    border-color: #05fafa !important;
}

.btn-operator:active {
    background-color: #37fbfb !important;
}

/* Footer */
footer {
    max-height: 100px;
}

footer a {
    text-decoration: none;
    color: #04afaf;
}

.footer ul {
    list-style: none;
}

.footer .footer-about .logo img {
    max-height: 40px;
}

.footer a:hover {
    color: #05fafa;
    border-color: #05fafa;
}

.footer .footer-links ul a {
    text-decoration: none;
    color: #04afaf;
}

.footer .social-links a {
    width: 2rem;
    height: 2rem;
    border: 1px solid #04afaf;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.credits a,
.footer .footer-links ul a {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.footer .footer-links ul a:hover {
    color: #05fafa;
}

.credits a:hover {
    color: #05fafa;
}

/* Unit Converter */
.unit-converter {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.unit-converter.container-fluid {
    height: 100%;
}

.label-title {
    font-weight: bold;
    color: #04afaf;
}